<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="pandoc">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    <meta property="og:title" content="So I Married An Axe Murderer {% if meta.title %}{{ meta.title }} | {% endif %}"/>
    <meta property="og:url" content="https://axey.org"/>
    <meta property="og:image" content="https://axey.org/assets/axey-{{ "%03d"|format(random(03,50)) }}.jpg"/>
    <meta property="og:site_name" content="So I Married An Axe Murderer"/>
    <meta property="og:description" content="{% if meta.title %}{{ meta.title }} | {% endif %}"/>

    <link rel="canonical" href="https://axey.org/{% if meta.title %}{{ meta.title }} | {% endif %}" />
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mattl">
    <meta name="twitter:title" content="So I Married An Axe Murderer"/>
    <meta name="twitter:description" content="{% if meta.title %}{{ meta.title }} | {% endif %}">
    <meta name="twitter:image:src" content="https://axey.org/assets/axey-{{ "%03d"|format(random(03,50)) }}.jpg">
    <meta name="twitter:domain" content="axey.org">
    <style
type="text/css">
body{background: #000; color: white; margin:40px
auto;font-family: sans-serif;max-width:650px;line-height:1.6;font-size:18px; padding:0 10px;} a:link{color: cyan;} a:hover{color: red !important;} a:visited{color: lime;;} h1,h2{text-align: center; line-height:1.2} .lynx {display: none !important;} nav li {list-style: none; display: inline-table;} nav ul, .tc {padding: 0; margin: 0; text-align: center;} .spoilers {text-decoration: blink; color: red; font-size: 200%;} #photos {margin: 0 auto; display: block; text-align: center;} #photos img {border: 1px solid #999;} img, iframe {max-width: 95% !important;} blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; // for android
    animation: 2s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
</style>
  </head>
  <body>

    <h1><a href="/"><img src="/assets/2021-logo.png?foo" alt="So I Married An Axe Murderer" /></a></h1>

    <p style="text-align: center"><a href="#nav">Jump to navigation</a></p>

<!--    <p style="text-align: center;"><a href="https://axey.org/live"><img src="/assets/live-event.gif" alt="Live Event This Weekend" /></a></p> -->






    <div id="main" role="main">
        <div class="container">
          
          <h2>He-llo!</h2>
          
          <p><img src="/assets/axey-{{ "%03d"|format(random(03,50)) }}.jpg" alt=""></p>
                    
            {{ content }}
        </div>
    </div>

<hr />

<address style="text-align: center"><a href="https://mat.tl/">Matt Lee</a> &lt;<a href="mailto:mattl@cnuk.org">mattl@cnuk.org</a>&gt; </address>

<p style="opacity: 0.{{ "%01d"|format(random(1,9)) }}; font-size: 9pt; text-align: center; font-family: Jokerman, Standup Comic Sans, Chalkboard, Comic Sans">with limited assistance from <a href="https://stevie.boston">Stevie DuBois</a></p>

<div id="nav" role="navigation" tabindex="-1">
                <ul>
                    {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                        <li{% if page.id == current_page.id %} class="active"{% endif %}>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

<hr />

    <p style="text-align: center">Dedicated to the memory of <a href="/keith-selvin-obituary">Keith "Young Stuart" Selvin</a> (1989-2021)</p>
    
    <p style="text-align: center"><small>Feel free to reuse any of my original work under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a> and check out the website on <a href="https://gitlab.com/mattl/axey">GitLab</a></small></p>
    
    <p style="text-align: center"><a href="https://orangumovie.com/">Watch my movie, Orang-U: An Ape Goes To College</a></p>

  </body>
</html>
