<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="pandoc">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    <meta property="og:title" content="So I Married An Axe Murderer {% if meta.title %}{{ meta.title }} | {% endif %}"/>
    <meta property="og:url" content="https://axey.org"/>
    <meta property="og:image" content="https://axey.org/assets/axey-056.jpg"/>
    <meta property="og:site_name" content="So I Married An Axe Murderer"/>
    <meta property="og:description" content="{% if meta.title %}{{ meta.title }} | {% endif %}"/>

    <link rel="canonical" href="https://axey.org/{% if meta.title %}{{ meta.title }} | {% endif %}" />
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mattl">
    <meta name="twitter:title" content="So I Married An Axe Murderer"/>
    <meta name="twitter:description" content="{% if meta.title %}{{ meta.title }} | {% endif %}">
    <meta name="twitter:image:src" content="https://axey.org/assets/axey-056.jpg">
    <meta name="twitter:domain" content="axey.org">
    <style
type="text/css">
body{background: #000; color: white; margin:40px
auto;font-family: serif;max-width:650px;line-height:1.6;font-size:18px; padding:0 10px;} a:link{color: cyan;} a:hover{color: red !important;} a:visited{color: lime;;} h1,h2{text-align: center; line-height:1.2} .lynx {display: none !important;} nav li {list-style: none; display: inline-table;} nav ul, .tc {padding: 0; margin: 0; text-align: center;} .spoilers {text-decoration: blink; color: red; font-size: 200%;} #photos {margin: 0 auto; display: block; text-align: center;} #photos img {border: 1px solid #999;} img, iframe {max-width: 95% !important;} blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; // for android
    animation: 2s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

<style type="text/css" media="all">

/* ---------- PAGE STYLES ---------- */

/* all page margins are maximums */
@page {
size: 8.5in 11in;
margin-top:1in;
margin-right:1in;
margin-bottom:.5in;
margin-left:1.5in;
}
/* This makes the page-counter start on the first page of the screenplay */
div#screenplay {
counter-reset: page 1;
page: Screenplay;
prince-page-group: start;
}
@page Screenplay {
/* Page Numbers */
@top-right-corner {
font: 12pt "Courier Prime", courier, monospace;
content: counter(page)".";
vertical-align: bottom;
padding-bottom: 1em;
}
/* Define Header */
@top-left {
content: "";
font: italic 10pt Georgia;
color: #888;
vertical-align: bottom;
padding-bottom: 1.3em;
}
/* Define Footer */
@bottom-left {
content: "";
font: italic 10pt Georgia;
color: #888;
vertical-align:top;
padding-top:0;
}
}
/* removes the header and page-numbers from the first page */
@page Screenplay:first {
@top-right-corner { content: normal; }
@top-left { content: normal; }
}
/* These control where page-breaks can and cannot happen */
p {
orphans: 2;
widows: 2;
}
dl {
page-break-inside:avoid;
}
dt, h2, h5 {
page-break-after: avoid;
}
dd.parenthetical {
orphans: 3;
widows: 3;
page-break-before: avoid;
page-break-after: avoid;
}
dd {
page-break-before:avoid;
}
div.page-break {
page-break-after:always;
}
h3 {
page-break-before: avoid;
}
/* by default Prince bookmarks all headings, no thanks */
h3, h4, h5, h6 {
prince-bookmark-level: none;
}

/* ---------- COMMON LAYOUT ---------- */

:lang(jp) {
font-family: osaka;
}

#screenplay {
font-family: "Courier Prime", courier, monospace;
font-size: 12pt;
line-height: 1;
}
#screenplay {
width: 6in;
margin:0 auto;
}
p.center {
text-align:center;
margin-left:0;
width:100%;
}
p {
margin-top:12pt;
margin-bottom:12pt;
margin-left:0;
padding-right:.25in;
width:6in;
white-space: pre-wrap;
}

/*Character Names*/

dt {
font-weight:normal;
margin-top:1em;
margin-left:2in;
padding-right:.25in;
width:4in;
}

/*Parentheticals*/

dd.parenthetical {
margin-left:1.6in;
text-indent:-.12in;
width: 2in;
padding-right:2.66in;
}

/*Dialogue*/

dd {
margin:0;
margin-left: 1in;
width: 3.5in;
padding-right:1.75in;
line-height: inherit;
white-space: pre-wrap;
}

/* Dual-Dialogue-blocks */

div.dialogue_wrapper {
overflow:auto;
width:100%;
}

dl.dual {
width:2.9in;
}

dl.dual dt, dl.dual dd {
margin-left:0;
width:2.5in;
padding-right:.25in;
}

dl.dual.first {
float:left;
margin-top:-12pt;
}

dl.dual.second {
margin-right:0;
margin-left:auto;
}

dl.dual dt {
text-align:center;
}

dl.dual dd.parenthetical {
width:2.1in;
margin-left:.32in;
}

/* Lyrics */
span.lyric {
font-style: italic;
}

span.lyric i {
font-style: normal;
}


/* Sluglines and Transitions */

h1,h2,h3,h4,h5,h6 {
font-weight: normal;
font-size: 12pt;
margin-top: 1em;
margin-bottom: 1em;
padding-right:.25in;
text-transform:uppercase;
}

/* Full Sluglines */

h2 {
width: inherit;
margin-top: 1em;
margin-bottom: 12pt;
margin-left: 0;
text-decoration: none;
font-weight: bold;
}

/* Right Transitions */

h3 {
margin-left: 4in;
width: 2in;
}

/* Left Transitions */

h4 {

}

/* Goldman Sluglines */

h5 {
margin-top: 1em;
font-weight: bold;
text-decoration: none;
}

span.underline {
text-decoration:underline;
}
.comment {
display:none
}

.revised { background:rgba(255, 255, 0, 0.2); }

</style>
  </head>
  <body>

    <h1><a href="/"><img src="/assets/axe-murderer.png" alt="So I Married An Axe Murderer" /></a></h1>

    <p style="text-align: center"><a href="#nav">Jump to navigation</a></p>

<!--    <p style="text-align: center;"><a href="https://axey.org/live"><img src="/assets/live-event.gif" alt="Live Event This Weekend" /></a></p> -->






    <div id="main" role="main">
        <div class="container">
            {{ content }}
        </div>
    </div>

<hr />

    <address><a href="https://mat.tl/">Matt Lee</a> <<a href="mailto:mattl@cnuk.org">mattl@cnuk.org</a>> <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">BY-SA</a> <a href="https://gitlab.com/mattl/axey">GitLab</a> <a href="http://so-i-married-an-axe-murderer.glitch.me/">Glitch</a></address>

<div id="nav" role="navigation" tabindex="-1">
                <ul>
                    {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                        <li{% if page.id == current_page.id %} class="active"{% endif %}>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>


  </body>
</html>
