
html, body{  margin: 0 !important; padding:0 !important; text-align: left; }

#main {text-align: left;}

html {min-height: 800px;}
#bd { min-height: 600px; }
html  { background-image: url('/themes/51/img/stripe.png') !important;}
body{background-color: white;}

#bd { padding-top: 30px; }

#foo { background-color: black; }

#foo p{ padding-top: 56px; font-size: 10px; padding-left: 15px; color: #333; }

#bd h1, #bd h2, #bd h3, #bd h4 { font-size: 48px;
     font-weight: bold;
     color: #000000;
     line-height:48px;
     letter-spacing:-2px;
     margin: 0;
     margin-top: 6px;
     margin-bottom: 16px;
 } 

#bd h2 { font-size: 40px; }

#bd h3 { font-size: 34px; }

#bd h4 { font-size: 26px; }

#bd { font-size: 14px; line-height: 20px; margin: 0 }

#bd p { margin-bottom: 18px; }

#hd { text-align: left; margin-left: 10px; position: relative; width: 530px; }

#hd ul { position: absolute; top: -5px; left: 430px; margin: 0; padding: 0; }

#hd li { list-style: none;  }

#hd li a{ color: blue; display: block; padding: 3px; font-weight: bold; }

#hd li a:hover{ color: red; }

#ft { text-align: left; width: 500px; margin: 30px auto;}

#ft * { color: #111; font-size: 11px; }

#beta { margin-top: 30px; }


#foo {height: 65px;width: 100%; background-image: url('/themes/51/img/navbg.png');  padding-bottom: 20px;}

#foo div {text-align: left; width: 750px; position: relative; margin: 0 auto;}

#main-nav, #privacy-nav {margin: 0; padding: 0; line-height: 65px; height: 65px;}

#main-nav li, #privacy-nav li {display: inline-block; }

#main-nav li a, #privacy-nav li a{padding: 10px 0px 10px 14px;}

#main-nav {width: 466px; position: absolute; left: 0; top: 0;}

#privacy-nav {width: 144px; position: absolute; left: 554px; top: 0;}

#foo h1 {width: 90px; height: 90px; background-color: pink; position: absolute; left: 466px; top: -10px; margin: 0; padding: 0; text-align: center;}
